
/* Profile Card Style */    
* {
    box-sizing: border-box;
}

h3 {
    margin: 10px 0;
}

h6 {
    margin: 5px 0;
    text-transform: uppercase;
}

p {
    font-size: 14px;
    line-height: 21px;
}

.card-container {
    background-color: #231E39;
    border-radius: 5px;
    box-shadow: 0px 10px 20px -10px rgba(0, 0, 0, 0.75);
    color: #B3B8CD;
    padding-top: 30px;
    position: relative;
    width: 350px;
    max-width: 100%;
    text-align: center;
}

.card-container .pro {
    color: #231E39;
    background-color: #FEBB0B;
    border-radius: 3px;
    font-size: 14px;
    font-weight: bold;
    padding: 3px 7px;
    position: absolute;
    top: 30px;
    left: 30px;
}

.card-container .round {
    border: 1px solid #03BFCB;
    border-radius: 50%;
    padding: 7px;
}

.skills {
    background-color: #1F1A36;
    text-align: left;
    padding: 15px;
    margin-top: 30px;
}

.skills ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.skills ul li {
    border: 1px solid #2D2747;
    border-radius: 2px;
    display: inline-block;
    font-size: 12px;
    margin: 0 7px 7px 0;
    padding: 7px;
}

.card-container1 {
    background-color: #28223F;
    position: relative;
    border-radius: 5px;
    box-shadow: 0px 10px 20px -10px rgba(0, 0, 0, 0.75);
    color: #B3B8CD;
    width: 350px;
    max-width: 100%;
    text-align: center;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
}

.card-container1 h1 {
    text-align: center;
}

.card-container1 .additional {
    position: absolute;
    width: 0px;
    height: 100%;
    background: linear-gradient(black, #28223F);
    transition: width 0.4s;
    overflow: hidden;
    z-index: 2;
}

.card-container1:hover .additional {
    width: 100%;
    border-radius: 0 5px 5px 0;
}

.card-container1 .additional .more-info {
    width: 100%;
    position: absolute;
    height: 100%;
}

.card-container1 .additional .more-info h1 {
    color: #fff;
    margin-bottom: 0;
}

.card-container1 .additional .coords {
    margin: 0 1rem;
    color: #fff;
    font-size: 1rem;
}

.card-container1 .additional .stats {
    font-size: 2rem;
    display: flex;
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    right: 1rem;
    top: auto;
    color: #fff;
}

.card-container1 .additional .stats>div {
    flex: 1;
    text-align: center;
}

.card-container1 .additional .stats div.title {
    font-size: 0.75rem;
    font-weight: bold;
    text-transform: uppercase;
}

.card-container1 .additional .stats div.value {
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 1.5rem;
}

.card-container1 .additional .stats div.value.infinity {
    font-size: 2.5rem;
}

.card-container1 .general {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    box-sizing: border-box;
    padding: 1rem;
    padding-top: 0;
}

.card-container1 .general .more {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    font-size: 0.8em;
}


/* Modal For Profile Cards */
.profilemodal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    z-index: 2;
    top: 30%;
  }
  
  .btn {
    cursor: pointer;
  }
  
  .btn-close {
    height: 100%;
    transform: translate(20px, -20px);
    padding: 0.5rem 0.7rem;
    background: #eee;
    border-radius: 50%;
    cursor: pointer;
    z-index: 2;
  }
  
  .overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
    z-index: 1;
  }
  
  .hidden {
    display: none;
  }
  
  .middleall {
      display: flex;
   
      align-items: center;
      justify-content: center;
  }
  