#more1, #more2, #more3, #more4, #more5, #more6, #more7, #more8, #more9, #more10, #more11, #more12, #more13, #more14, #more15 {display: none;}
            
.more {display: none;}
            .read-more {
  display: inline-block;
  padding: 12px 24px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
  border: 2px solid #fff;
  border-radius: 30px;
  background-color: #2d3036;
  background-image: radial-gradient(circle, #1c1e22, #2d3036);
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5);
  transition: all 0.3s ease-in-out;
  margin-bottom: 20px;
  cursor: pointer;
}

.read-more:hover {
  background-color: #fff;
  color: #2d3036;
}